/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Jan, 2015, 11:41:12 AM
    Author     : ABC
*/
/*main body size define*/
body{
    height: 100vh; 
}
/*main header define into the page*/
#header{
    float: left;
    height:70px;
    width:100%;
    background: brown;
}
/* subheader into the main header that display the text*/
.subHeader{
    margin:10px 0px 0px 300px;
    height:50px;
    width:600px;
    margin:0 auto;
    margin-top: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 20px;
    color:white;
    background: Red;
    text-indent: 30px;
}
/*box area where movement of the box*/
#boxArea{
    float:left;
    position:relative;
    width:100%;
    height: 600px;
}
/*box size define*/
#Box{ 
    float: left;
    position: relative;
    top: 400px;
    left: 500px;
    height:100px;
    width:100px;
    border:2px solid gray;
    background:gray;  
}


